body {
  background-color: #FFFFFF
}

canvas {
  border: 4px solid #000000
}

#container {
  display: flex;
  flex-direction: row
}

#dataBox {
  overflow: auto;
  margin-left: 20px
}

#GPLC_ConsoleInput {
  overflow: auto;
  height: 100px;
  margin: 20px;
  background-color: #FFFFFF
}

#GPLC_ConsoleOutput {
  overflow: auto;
  height: 300px;
  margin: 20px;
  background-color: #FFFFFF
}

.indentLevel1 {
  margin-left: 20pt
}

.indentLevel2 {
  margin-left: 40pt;
}

