body {
  background-color: #FFFFFF
}

canvas {
  border: 4px solid #000000
}

#container {
  display: flex;
  flex-direction: row
}

#dataBox {
  overflow: auto;
  margin-left: 20px
}

#GPLC_CodePatch {
  overflow: auto;
  height: 100px;
  margin: 20px;
  background-color: #FFFFFF
}

#GPLC_Code {
  overflow: auto;
  height: 300px;
  margin: 20px;
  background-color: #FFFFFF
}

.jsonLayer1 {
  margin-left: 20pt
}

